.body{
    background-color: #0d0c22;;
    color: white;
    height: 100%;
}
h1{
    color: #FFE459;
    font-weight: 600;
    font-family: fantasy;
    text-align: center;
}
h2{
    color: green;
    font-weight: 400;
    font-family: fantasy;
}
.intro{
    display: flex;
    font-size: large;
    font-size: large;
    color: white;
}
.intro>p{
    width: 400px;
    text-align: center;
    position: relative;
    left: 400px;
    bottom: -110px;
}
.intro>img{
    position: relative;
    right: -600px;
    bottom: -200px;
}
.mid{
    display: flex;
}
.male{
    position: relative;
    right: -400px;
    width: 15%;
    background-color: #082032;
    border-radius: 3px 50px 30px 50px;
}
.female{
    position: relative;
    right: -500px;
    width: 15%;
    background-color: #082032;
    border-radius: 3px 50px 30px 50px;
}

.btn{
    position: relative;
    right: -450px;
    bottom: -40px;
}
.display{
    text-align: center;
}
img{
    position: relative;
    right: -500px;
    bottom: -10px;
}
form{
    text-align: center;
}